<script>
    alert("jsShop programmiert von infinitecodes\n\n\nDiese Webseite ist für private Zwecke! Es sind lediglich Programmierprojekte die ich hier hochlade und dienen nur zum privatem aber auch bildungstechnichem Zweck und nicht kommerziell.");
</script>
<div class="articleoftheday">
    <h1>Artikel des Tages</h1>
    <img src="images/articleoftheday.jpg" width="400" height="300">
    <br>
    <a href="products/articleoftheday"> Sample article for 200 €</a>
</div>