<div id="register-block">
<form action="/register" method="post">
    <br>
    <label for="vorname" id="vornamelabel">Vorname:</label>
    <br>
    <br>
    <input type="text" id="vornameinput" name="vorname">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="nachname" id="nachnamelabel">Nachname:</label>
    <br>
    <br>
    <input type="text" id="nachnameinput" name="nachname">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="Geburtsdatum" id="geburtsdatumlabel">Geburtsdatum:</label>
    <br>
    <br>
    <input type="text" id="geburtsdatuminput" name="geburtsdatum">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="Adresse" id="adresselabel">Adresse:</label>
    <br>
    <br>
    <input type="text" id="adresseinput" name="adresse"> 
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="Postleitzahl" id="postleitzahllabel">PLZ:</label>
    <br>
    <br>
    <input type="text" id="postleitzahlinput" name="postleitzahl">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="Stadt" id="stadtlabel">Stadt:</label>
    <br>
    <br>
    <input type="text" id="stadtinput" name="stadt">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="email" id="emaillabel">E-Mail:</label>
    <br>
    <br>
    <input type="text" id="emailinput" name="email">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="username" id="userlabel">Nutzername:</label>
    <br>
    <br>
    <input type="text" id="userinput" name="username">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <label for="passwort" id="passwortlabel">Passwort:</label>
    <br>
    <br>
    <input type="password" id="passwortinput" name="password">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <br>
    <small class="small-error-message">Error message</small>
    <br>
    <br>
    <input type="submit" value="Registrieren" id="registersubmit">
</form>
</div>