<div class="articlecontainer">
    <img src="images/200.png" width="400" height="300">
    <br>
    <a href="products/articleoftheday"> Sample article for 200 €</a>
</div>
<div class="articlecontainer">
    <img src="images/400.png" width="400" height="300">
    <br>
    <a href="products/articleoftheday"> Sample article for 400 €</a>
</div>
<div class="articlecontainer">
    <img src="images/600.png" width="400" height="300">
    <br>
    <a href="products/articleoftheday"> Sample article for 600 €</a>
</div>
<div class="articlecontainer">
    <img src="images/800.png" width="400" height="300">
    <br>
    <a href="products/articleoftheday"> Sample article for 800 €</a>
</div>